:root{
	--fg:#ffbb00;
	--bg:#222222;
}
*{
	color:var(--fg);
	background-color:var(--bg);
	border-radius:0px;
}
html{
	font-family:monospace;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
}

section{
	padding-top:15px;
	padding-bottom:15px;
}

/* board section */
#board{
	display:flex;
	flex-direction:unset;
	flex-wrap:wrap;
	gap:10px 10px;
}
.item{
	padding:10px;
	width:230px;
	min-height:150px;
	border-width:2px;
	border-style:solid;
}

/*editor section*/
#editor{
	position:absolute;
	border-style:solid;
	border-width:2px;
	border-radius:4px;
	width:300px;
	height:400px;
	gap:10px 10px;
}

#div_edit{
	gap:10px 10px;
	display:flex;
	flex-direction:column;
}

.editor{
	border-color:var(--fg);
	border-style:solid;
	border-width:2px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

textarea.editor{
	resize:none;
	height:320px;
}

input.editor{
	font-size:20px;
}

#savebtn{
	position:absolute;
	border-color:var(--fg);
	border-style:solid;
	border-width:2px;
	bottom:0;
	right:0;
}
