:root{
	--fg:#ffbb00;
	--bg:#222222;
}
*{
	color:var(--fg);
	background-color:var(--bg);
}
html{
	font-family:monospace;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}

/*editor section*/
section.editor{
	position:absolute;
	border-style:solid;
	border-width:2px;
	border-color:var(--fg);
	border-radius:4px;
	width:300px;
	height:400px;
}

input.editor{
	height:20px;
	width:80%;
	position:relative;
	left:50%;
	transform:translate(-50%,0);
	display:flex;
}
textarea.editor{
	padding:auto;
	position:absolute;
	left:50%;
	transform:translate(-50%,0);
	width:80%;
	height:80%;
	display:flex;
}
button.editor{
	position:absolute;
	bottom:0;
	right:0;

	padding:5px;

	border-style:solid;
	border-width:4px;
	border-color:var(--fg);
}
