:root{
	--fg:#ffbb00;
	--bg:#222222;
	--btn-hover:#cca53d;
	--btn-active:#ffcf4c;
}
*{
	font-family:monospace;
	color:var(--fg);
	background-color:var(--bg);
	border-radius:0px;
}
html{
	font-family:monospace;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
}

section{
	padding-top:15px;
	padding-bottom:15px;
	margin-top:10px;
	margin-bottom:10px;
}

button{
	border-color:var(--fg);
	border-style:solid;
	border-width:2px;
}

button:hover{
	border-color:var(--btn-hover);
	color:var(--btn-hover);
}

button:active{
	border-color:var(--btn-active);
	background-color:#CCA53D;
	color:black;
}

input[type="checkbox"]:checked{
	color:var(--fg);
}

.container {
	overflow-y:auto;
}
